<div>
  <h2>Exemple #2 - Gestionnaire de tâche - Task list</h2>
  <p>Gestionnaire de tâche a des problème plante - il faut les corrigers.</p>
  <ul>
    <li>L'action <b>ajouter</b> ne fonctionne pas comme elle devrait.</li>
    <li>L'action <b>supprimer toutes les tâches</b> est à définir.</li>
  </ul>

  <input type="text" [(ngModel)]="newTask" placeholder="Ajouter une tâche" >

  <button type="button" (click)="addTask()">Ajouter</button>

  <button type="button">Supprimer toutes les tâches</button>

  <ul>
    @for (task of tasks; track task; let i = $index) {
      <li>
        {{ task }}
        <button type="button" (click)="removeTask(i)">Supprimer</button>
      </li>
    }
  </ul>
</div>
